@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #282a36;
}

h1 {
  color: #bd93f9;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  font-size: 40px;
}

.parent {
  padding: 1rem;
}

.inline-block-child {
  display: inline-block;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 5%;
  background: #282a36;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  border-radius: 15px;
  border: 14px solid #bd93f9;
  margin: 5%;

}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
  color: #bd93f9;
}

.hljs-keyword {
  color: #ff79c6;
}

.hljs,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-title,
.hljs-attr,
.hljs-meta-keyword {
  font-style: italic;
  color: #ff79c6;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #bd93f9;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: #6272a4;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-literal,
.hljs-number {
  color: #ff79c6;
}

.hljs-emphasis {
  font-style: italic;
}