@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #282a36;
}

h1 {
    color: #bd93f9;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-left: 50%;
    margin-right: 10%;
    margin-top: 5%;
    text-align: right;
    font-size: 60px;
}

p {
    color: #f8f8f2;
}